.intro {
	width: 100%;
	height: 480px;
	background-color: #e4e9ec;
}

.developer {
	display: inline-block;
	width: 33%;
	height: 100%;
	text-align: center;
}

#macbook {
	max-width: 40%;
}

.musician {
	display: inline-block;
	width: 33%;
	height: 100%;
	text-align: center;
}

#headphone {
	max-width: 30%;
}

.fan {
	display: inline-block;
	width: 33%;
	height: 100%;
	text-align: center;
}

#jersey {
	max-width: 30%;
}

.about {
	width: 100%;
	height: 450px;
	background-color: #bfc3ba;
}

.greeting {
	color: #2c2e2d;
	text-align: center;
	padding-top: 4.0rem;
	font-family: Josefin Sans;
	font-size: 48pt;
}

img {
	height: auto;
	width: 100%;
}